{{#each articles}}
    <div class="article">
        <h3><a href={{url}}>{{title}}</a></h3>
        <div class="post">
            <img src={{img}}>
            <article class="blog-box">
                <p class="description">{{description}}</p>
                <p class="more"><a href={{url}}>Read Full Article...</a></p>
            </article>
        </div>
    </div>
{{/each}}